-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: esport_korattest
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accommodations`
--

DROP TABLE IF EXISTS `accommodations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accommodations` (
  `accommodation_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int(10) unsigned DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `distance` varchar(50) DEFAULT NULL,
  `link_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`accommodation_id`),
  KEY `tournament_id` (`tournament_id`),
  CONSTRAINT `accommodations_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`tournament_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accommodations`
--

LOCK TABLES `accommodations` WRITE;
/*!40000 ALTER TABLE `accommodations` DISABLE KEYS */;
/*!40000 ALTER TABLE `accommodations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bracket_edges`
--

DROP TABLE IF EXISTS `bracket_edges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bracket_edges` (
  `bracket_edge_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `next_match_id` int(10) unsigned DEFAULT NULL,
  `next_slot` varchar(10) DEFAULT NULL,
  `loser_next_match_id` bigint(20) unsigned DEFAULT NULL,
  `loser_next_slot` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`bracket_edge_id`),
  UNIQUE KEY `uq_match_edge` (`match_id`),
  KEY `fk_bracket_edges_next_match` (`next_match_id`),
  CONSTRAINT `bracket_edges_ibfk_1` FOREIGN KEY (`match_id`) REFERENCES `matches` (`match_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_bracket_edges_next_match` FOREIGN KEY (`next_match_id`) REFERENCES `matches` (`match_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=317 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bracket_edges`
--

LOCK TABLES `bracket_edges` WRITE;
/*!40000 ALTER TABLE `bracket_edges` DISABLE KEYS */;
INSERT INTO `bracket_edges` VALUES (305,404,408,'team1',NULL,NULL),(306,405,408,'team2',NULL,NULL),(307,406,409,'team1',NULL,NULL),(308,407,409,'team2',NULL,NULL),(309,408,410,'team1',NULL,NULL),(310,409,410,'team2',NULL,NULL),(311,411,415,'team1',NULL,NULL),(312,412,415,'team2',NULL,NULL),(313,413,416,'team1',NULL,NULL),(314,414,416,'team2',NULL,NULL),(315,415,417,'team1',NULL,NULL),(316,416,417,'team2',NULL,NULL);
/*!40000 ALTER TABLE `bracket_edges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gallery`
--

DROP TABLE IF EXISTS `gallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gallery` (
  `gallery_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `album_id` int(11) DEFAULT NULL,
  `media_type` varchar(20) NOT NULL DEFAULT 'activity',
  `title` varchar(255) DEFAULT NULL,
  `image_path` varchar(255) NOT NULL,
  `caption` varchar(200) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `event_name` varchar(150) DEFAULT NULL,
  `created_by` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`gallery_id`),
  KEY `created_by` (`created_by`),
  KEY `album_id` (`album_id`),
  CONSTRAINT `gallery_album_fk` FOREIGN KEY (`album_id`) REFERENCES `gallery_albums` (`album_id`) ON DELETE SET NULL,
  CONSTRAINT `gallery_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gallery`
--

LOCK TABLES `gallery` WRITE;
/*!40000 ALTER TABLE `gallery` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gallery_albums`
--

DROP TABLE IF EXISTS `gallery_albums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gallery_albums` (
  `album_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `album_type` varchar(20) NOT NULL DEFAULT 'activity',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`album_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gallery_albums`
--

LOCK TABLES `gallery_albums` WRITE;
/*!40000 ALTER TABLE `gallery_albums` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery_albums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `games`
--

DROP TABLE IF EXISTS `games`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `games` (
  `game_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(80) NOT NULL,
  `slug` varchar(80) NOT NULL,
  `icon_path` varchar(255) DEFAULT NULL,
  `roster_size_min` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `roster_size_max` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `is_team_based` tinyint(1) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `play_mode` enum('solo','team') NOT NULL DEFAULT 'team',
  `required_players` int(11) NOT NULL DEFAULT 5,
  `ranking_config` text DEFAULT NULL COMMENT 'α╕üα╕òα╕┤α╕üα╕▓α╣üα╕Ñα╕░α╕¬α╕╣α╕òα╕ú Ranking α╕éα╕¡α╕çα╣Çα╕üα╕í α╕üα╕│α╕½α╕Öα╕öα╣éα╕öα╕ó Admin',
  PRIMARY KEY (`game_id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `games`
--

LOCK TABLES `games` WRITE;
/*!40000 ALTER TABLE `games` DISABLE KEYS */;
/*!40000 ALTER TABLE `games` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group_teams`
--

DROP TABLE IF EXISTS `group_teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `group_teams` (
  `group_team_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `group_id` int(10) unsigned NOT NULL,
  `team_id` int(10) unsigned NOT NULL,
  `played` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `wins` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `draws` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `losses` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `points` smallint(6) NOT NULL DEFAULT 0,
  `score_diff` smallint(6) NOT NULL DEFAULT 0,
  PRIMARY KEY (`group_team_id`),
  UNIQUE KEY `uq_team_per_group` (`group_id`,`team_id`),
  KEY `team_id` (`team_id`),
  CONSTRAINT `group_teams_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `tournament_groups` (`tournament_group_id`) ON DELETE CASCADE,
  CONSTRAINT `group_teams_ibfk_2` FOREIGN KEY (`team_id`) REFERENCES `teams` (`team_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group_teams`
--

LOCK TABLES `group_teams` WRITE;
/*!40000 ALTER TABLE `group_teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `group_teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_games`
--

DROP TABLE IF EXISTS `match_games`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `match_games` (
  `game_id` int(11) NOT NULL AUTO_INCREMENT,
  `match_id` int(11) NOT NULL,
  `game_number` int(11) NOT NULL,
  `team1_score` int(11) DEFAULT 0,
  `team2_score` int(11) DEFAULT 0,
  `winner_team_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`game_id`),
  KEY `match_id` (`match_id`)
) ENGINE=InnoDB AUTO_INCREMENT=272 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_games`
--

LOCK TABLES `match_games` WRITE;
/*!40000 ALTER TABLE `match_games` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_games` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_participants`
--

DROP TABLE IF EXISTS `match_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `match_participants` (
  `match_participant_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `team_id` int(10) unsigned NOT NULL,
  `slot_number` smallint(5) unsigned DEFAULT NULL,
  `placement` smallint(5) unsigned DEFAULT NULL,
  `kills` smallint(5) unsigned NOT NULL DEFAULT 0,
  `score` int(11) NOT NULL DEFAULT 0,
  `is_winner` tinyint(1) NOT NULL DEFAULT 0,
  `status` enum('scheduled','completed','bye','walkover','forfeit','disqualified') NOT NULL DEFAULT 'scheduled',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`match_participant_id`),
  UNIQUE KEY `uq_match_team` (`match_id`,`team_id`),
  KEY `team_id` (`team_id`),
  KEY `idx_match_placement` (`match_id`,`placement`),
  CONSTRAINT `match_participants_match_fk` FOREIGN KEY (`match_id`) REFERENCES `matches` (`match_id`) ON DELETE CASCADE,
  CONSTRAINT `match_participants_team_fk` FOREIGN KEY (`team_id`) REFERENCES `teams` (`team_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_participants`
--

LOCK TABLES `match_participants` WRITE;
/*!40000 ALTER TABLE `match_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matches`
--

DROP TABLE IF EXISTS `matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matches` (
  `match_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int(10) unsigned NOT NULL,
  `tournament_category_id` int(10) unsigned DEFAULT NULL,
  `group_id` int(10) unsigned DEFAULT NULL,
  `bracket_type` enum('single','winners','losers','grand_final','grand_final_reset') NOT NULL DEFAULT 'single',
  `reset_match_id` int(11) DEFAULT NULL,
  `best_of` tinyint(4) NOT NULL DEFAULT 1,
  `round_number` tinyint(3) unsigned DEFAULT NULL,
  `match_index` smallint(5) unsigned DEFAULT NULL,
  `team1_id` int(10) unsigned DEFAULT NULL,
  `team2_id` int(10) unsigned DEFAULT NULL,
  `team1_score` smallint(5) unsigned DEFAULT NULL,
  `team2_score` smallint(5) unsigned DEFAULT NULL,
  `winner_team_id` int(10) unsigned DEFAULT NULL,
  `result_type` enum('normal','bye','walkover','forfeit','disqualified') NOT NULL DEFAULT 'normal',
  `result_note` varchar(500) DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'scheduled',
  `scheduled_at` datetime DEFAULT NULL,
  `competition_area` varchar(100) DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `wo_reason` varchar(500) DEFAULT NULL,
  `venue_name` varchar(255) DEFAULT NULL,
  `venue_area` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`match_id`),
  KEY `tournament_id` (`tournament_id`),
  KEY `tournament_category_id` (`tournament_category_id`),
  KEY `group_id` (`group_id`),
  KEY `team1_id` (`team1_id`),
  KEY `team2_id` (`team2_id`),
  KEY `winner_team_id` (`winner_team_id`),
  CONSTRAINT `matches_category_fk` FOREIGN KEY (`tournament_category_id`) REFERENCES `tournament_categories` (`tournament_category_id`) ON DELETE CASCADE,
  CONSTRAINT `matches_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`tournament_id`) ON DELETE CASCADE,
  CONSTRAINT `matches_ibfk_2` FOREIGN KEY (`group_id`) REFERENCES `tournament_groups` (`tournament_group_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=418 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matches`
--

LOCK TABLES `matches` WRITE;
/*!40000 ALTER TABLE `matches` DISABLE KEYS */;
/*!40000 ALTER TABLE `matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news`
--

DROP TABLE IF EXISTS `news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `news` (
  `news_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `status` enum('published','draft') NOT NULL DEFAULT 'published',
  `created_by` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`news_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `news_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news`
--

LOCK TABLES `news` WRITE;
/*!40000 ALTER TABLE `news` DISABLE KEYS */;
/*!40000 ALTER TABLE `news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_checkin_history`
--

DROP TABLE IF EXISTS `player_checkin_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `player_checkin_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tournament_registration_member_id` int(11) DEFAULT NULL,
  `player_id` int(11) NOT NULL,
  `tournament_id` int(11) DEFAULT NULL,
  `checked_in_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `player_tournament` (`player_id`,`tournament_id`),
  KEY `tournament_registration_member_id` (`tournament_registration_member_id`),
  CONSTRAINT `checkin_registration_member_fk` FOREIGN KEY (`tournament_registration_member_id`) REFERENCES `tournament_registration_members` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=202 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_checkin_history`
--

LOCK TABLES `player_checkin_history` WRITE;
/*!40000 ALTER TABLE `player_checkin_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_checkin_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_rankings`
--

DROP TABLE IF EXISTS `player_rankings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `player_rankings` (
  `player_ranking_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `game_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `category` varchar(50) NOT NULL DEFAULT 'open',
  `points` int(11) NOT NULL DEFAULT 0,
  `matches_played` smallint(5) unsigned NOT NULL DEFAULT 0,
  `wins` smallint(5) unsigned NOT NULL DEFAULT 0,
  `losses` smallint(5) unsigned NOT NULL DEFAULT 0,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`player_ranking_id`),
  UNIQUE KEY `uq_player_ranking` (`game_id`,`player_id`,`category`),
  KEY `player_id` (`player_id`),
  CONSTRAINT `player_rankings_ibfk_1` FOREIGN KEY (`game_id`) REFERENCES `games` (`game_id`) ON DELETE CASCADE,
  CONSTRAINT `player_rankings_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1057 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_rankings`
--

LOCK TABLES `player_rankings` WRITE;
/*!40000 ALTER TABLE `player_rankings` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_rankings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_tournament_checkins`
--

DROP TABLE IF EXISTS `player_tournament_checkins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `player_tournament_checkins` (
  `player_tournament_checkin_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_registration_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `checkin_status` varchar(30) NOT NULL DEFAULT 'not_checked_in',
  `checked_in_at` datetime DEFAULT NULL,
  `checked_in_by` int(10) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`player_tournament_checkin_id`),
  UNIQUE KEY `player_registration_checkin_unique` (`tournament_registration_id`,`player_id`),
  KEY `player_checkin_player_idx` (`player_id`),
  KEY `player_checkin_user_fk` (`checked_in_by`),
  CONSTRAINT `player_checkin_player_fk` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`),
  CONSTRAINT `player_checkin_registration_fk` FOREIGN KEY (`tournament_registration_id`) REFERENCES `tournament_registrations` (`tournament_registration_id`) ON DELETE CASCADE,
  CONSTRAINT `player_checkin_user_fk` FOREIGN KEY (`checked_in_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_tournament_checkins`
--

LOCK TABLES `player_tournament_checkins` WRITE;
/*!40000 ALTER TABLE `player_tournament_checkins` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_tournament_checkins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `players` (
  `player_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL,
  `display_name` varchar(80) NOT NULL,
  `real_name` varchar(120) DEFAULT NULL,
  `gender` varchar(50) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `eligibility_status` enum('unverified','pending','verified','rejected') NOT NULL DEFAULT 'unverified',
  `show_real_name` tinyint(1) NOT NULL DEFAULT 0,
  `avatar_path` varchar(255) DEFAULT NULL,
  `bio` text DEFAULT NULL,
  `province` varchar(80) DEFAULT 'α╕Öα╕äα╕úα╕úα╕▓α╕èα╕¬α╕╡α╕íα╕▓',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`player_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `eligibility_status` (`eligibility_status`),
  CONSTRAINT `players_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=560 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ranking_history`
--

DROP TABLE IF EXISTS `ranking_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ranking_history` (
  `ranking_history_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `game_id` int(10) unsigned NOT NULL,
  `tournament_id` int(10) unsigned NOT NULL,
  `tournament_category_id` int(10) unsigned DEFAULT NULL,
  `player_id` int(10) unsigned DEFAULT NULL,
  `team_id` int(10) unsigned DEFAULT NULL,
  `placement` smallint(5) unsigned DEFAULT NULL,
  `points` int(11) NOT NULL DEFAULT 0,
  `reason` varchar(500) DEFAULT NULL,
  `created_by` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ranking_history_id`),
  KEY `game_id` (`game_id`),
  KEY `tournament_id` (`tournament_id`),
  KEY `tournament_category_id` (`tournament_category_id`),
  KEY `player_game` (`player_id`,`game_id`,`created_at`),
  KEY `team_game` (`team_id`,`game_id`,`created_at`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `ranking_history_category_fk` FOREIGN KEY (`tournament_category_id`) REFERENCES `tournament_categories` (`tournament_category_id`) ON DELETE SET NULL,
  CONSTRAINT `ranking_history_game_fk` FOREIGN KEY (`game_id`) REFERENCES `games` (`game_id`) ON DELETE CASCADE,
  CONSTRAINT `ranking_history_player_fk` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`) ON DELETE CASCADE,
  CONSTRAINT `ranking_history_team_fk` FOREIGN KEY (`team_id`) REFERENCES `teams` (`team_id`) ON DELETE CASCADE,
  CONSTRAINT `ranking_history_tournament_fk` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`tournament_id`) ON DELETE CASCADE,
  CONSTRAINT `ranking_history_user_fk` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ranking_history`
--

LOCK TABLES `ranking_history` WRITE;
/*!40000 ALTER TABLE `ranking_history` DISABLE KEYS */;
INSERT INTO `ranking_history` VALUES (1,43,93,1,516,NULL,NULL,0,'loss',1,'2026-08-21 11:19:46'),(2,43,93,1,522,NULL,NULL,3,'win',1,'2026-08-21 11:19:46'),(3,43,93,1,517,NULL,NULL,3,'win',1,'2026-08-21 11:20:19'),(4,43,93,1,521,NULL,NULL,0,'loss',1,'2026-08-21 11:20:19');
/*!40000 ALTER TABLE `ranking_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_status_history`
--

DROP TABLE IF EXISTS `registration_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registration_status_history` (
  `registration_status_history_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_registration_id` int(10) unsigned NOT NULL,
  `old_status` varchar(30) DEFAULT NULL,
  `new_status` varchar(30) NOT NULL,
  `changed_by` int(10) unsigned DEFAULT NULL,
  `change_note` varchar(500) DEFAULT NULL,
  `changed_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`registration_status_history_id`),
  KEY `registration_status_history_registration_idx` (`tournament_registration_id`),
  KEY `registration_status_history_user_fk` (`changed_by`),
  CONSTRAINT `registration_status_history_registration_fk` FOREIGN KEY (`tournament_registration_id`) REFERENCES `tournament_registrations` (`tournament_registration_id`) ON DELETE CASCADE,
  CONSTRAINT `registration_status_history_user_fk` FOREIGN KEY (`changed_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_status_history`
--

LOCK TABLES `registration_status_history` WRITE;
/*!40000 ALTER TABLE `registration_status_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `registration_status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_invitations`
--

DROP TABLE IF EXISTS `team_invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `team_invitations` (
  `invitation_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `team_id` int(11) NOT NULL,
  `invited_player_id` int(11) NOT NULL,
  `invited_by_player_id` int(11) NOT NULL,
  `status` enum('pending','accepted','declined') NOT NULL DEFAULT 'pending',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `responded_at` datetime DEFAULT NULL,
  PRIMARY KEY (`invitation_id`),
  UNIQUE KEY `unique_team_invitee` (`team_id`,`invited_player_id`),
  KEY `invited_player_status` (`invited_player_id`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_invitations`
--

LOCK TABLES `team_invitations` WRITE;
/*!40000 ALTER TABLE `team_invitations` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_invitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_member_roles`
--

DROP TABLE IF EXISTS `team_member_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `team_member_roles` (
  `team_member_role_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `team_member_id` int(10) unsigned NOT NULL,
  `role_code` varchar(30) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`team_member_role_id`),
  UNIQUE KEY `team_member_roles_unique` (`team_member_id`,`role_code`),
  KEY `team_member_roles_member_idx` (`team_member_id`),
  CONSTRAINT `team_member_roles_member_fk` FOREIGN KEY (`team_member_id`) REFERENCES `team_members` (`team_member_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=464 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_member_roles`
--

LOCK TABLES `team_member_roles` WRITE;
/*!40000 ALTER TABLE `team_member_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_member_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_members`
--

DROP TABLE IF EXISTS `team_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `team_members` (
  `team_member_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `team_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `in_game_role` varchar(50) DEFAULT NULL,
  `member_roles` set('manager','coach','player','substitute') NOT NULL DEFAULT 'player',
  `joined_at` datetime NOT NULL DEFAULT current_timestamp(),
  `left_at` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`team_member_id`),
  UNIQUE KEY `uq_active_member` (`team_id`,`player_id`),
  KEY `player_id` (`player_id`),
  CONSTRAINT `team_members_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `teams` (`team_id`) ON DELETE CASCADE,
  CONSTRAINT `team_members_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=708 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_members`
--

LOCK TABLES `team_members` WRITE;
/*!40000 ALTER TABLE `team_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_rankings`
--

DROP TABLE IF EXISTS `team_rankings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `team_rankings` (
  `team_ranking_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `game_id` int(10) unsigned NOT NULL,
  `team_id` int(10) unsigned NOT NULL,
  `category` varchar(50) DEFAULT 'open',
  `points` int(11) NOT NULL DEFAULT 0,
  `matches_played` smallint(5) unsigned NOT NULL DEFAULT 0,
  `wins` smallint(5) unsigned NOT NULL DEFAULT 0,
  `losses` smallint(5) unsigned NOT NULL DEFAULT 0,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`team_ranking_id`),
  UNIQUE KEY `uq_team_ranking` (`game_id`,`team_id`,`category`),
  KEY `team_id` (`team_id`),
  CONSTRAINT `team_rankings_ibfk_1` FOREIGN KEY (`game_id`) REFERENCES `games` (`game_id`) ON DELETE CASCADE,
  CONSTRAINT `team_rankings_ibfk_2` FOREIGN KEY (`team_id`) REFERENCES `teams` (`team_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=200 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_rankings`
--

LOCK TABLES `team_rankings` WRITE;
/*!40000 ALTER TABLE `team_rankings` DISABLE KEYS */;
INSERT INTO `team_rankings` VALUES (198,2,130,'male',3,1,1,0,'2026-08-20 03:34:43'),(199,2,132,'female',3,1,1,0,'2026-08-20 03:34:54');
/*!40000 ALTER TABLE `team_rankings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams`
--

DROP TABLE IF EXISTS `teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teams` (
  `team_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `game_id` int(11) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `tag` varchar(10) DEFAULT NULL,
  `logo_path` varchar(255) DEFAULT NULL,
  `captain_player_id` int(10) unsigned DEFAULT NULL,
  `is_solo_wrapper` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `team_category` varchar(50) DEFAULT NULL,
  `status` enum('active','inactive','suspended','disbanded') NOT NULL DEFAULT 'active',
  `status_reason` varchar(500) DEFAULT NULL,
  `status_changed_at` datetime DEFAULT NULL,
  `status_changed_by` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`team_id`),
  KEY `game_id` (`game_id`),
  KEY `captain_player_id` (`captain_player_id`),
  KEY `teams_status_idx` (`status`),
  KEY `teams_status_changed_by_idx` (`status_changed_by`),
  CONSTRAINT `teams_ibfk_2` FOREIGN KEY (`captain_player_id`) REFERENCES `players` (`player_id`) ON DELETE SET NULL,
  CONSTRAINT `teams_status_changed_by_fk` FOREIGN KEY (`status_changed_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams`
--

LOCK TABLES `teams` WRITE;
/*!40000 ALTER TABLE `teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_categories`
--

DROP TABLE IF EXISTS `tournament_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tournament_categories` (
  `tournament_category_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int(10) unsigned NOT NULL,
  `name` varchar(100) NOT NULL,
  `code` varchar(50) NOT NULL,
  `eligibility_type` enum('open','male','female','mixed','age_limited','custom') NOT NULL DEFAULT 'open',
  `minimum_age` tinyint(3) unsigned DEFAULT NULL,
  `maximum_age` tinyint(3) unsigned DEFAULT NULL,
  `eligibility_rules` text DEFAULT NULL,
  `competition_format` enum('group_only','single_elimination','double_elimination','group_then_single','group_then_double','multi_participant_points') NOT NULL DEFAULT 'single_elimination',
  `required_starters` tinyint(3) unsigned DEFAULT NULL,
  `minimum_roster_size` tinyint(3) unsigned DEFAULT NULL,
  `maximum_roster_size` tinyint(3) unsigned DEFAULT NULL,
  `group_count` smallint(5) unsigned DEFAULT NULL,
  `teams_per_group` smallint(5) unsigned DEFAULT NULL,
  `teams_advance_per_group` smallint(5) unsigned DEFAULT NULL,
  `best_of` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `ranking_config` text DEFAULT NULL,
  `roster_lock_at` datetime DEFAULT NULL,
  `checkin_open_at` datetime DEFAULT NULL,
  `checkin_deadline` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `category_code` varchar(30) DEFAULT NULL,
  `label` varchar(100) DEFAULT NULL,
  `max_participants` int(10) unsigned DEFAULT NULL,
  `format` varchar(30) DEFAULT NULL,
  `group_size` int(10) unsigned DEFAULT NULL,
  `starters_count` int(10) unsigned DEFAULT NULL,
  `substitutes_count` int(10) unsigned DEFAULT NULL,
  `checkin_required_roles` varchar(255) DEFAULT NULL,
  `seed_method` varchar(30) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`tournament_category_id`),
  UNIQUE KEY `uq_tournament_category_code` (`tournament_id`,`code`),
  KEY `tournament_id` (`tournament_id`),
  CONSTRAINT `tournament_categories_tournament_fk` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`tournament_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_categories`
--

LOCK TABLES `tournament_categories` WRITE;
/*!40000 ALTER TABLE `tournament_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_days`
--

DROP TABLE IF EXISTS `tournament_days`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tournament_days` (
  `tournament_day_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int(10) unsigned NOT NULL,
  `day_number` int(10) unsigned NOT NULL,
  `event_date` date NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `venue_name` varchar(255) DEFAULT NULL,
  `notes` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`tournament_day_id`),
  UNIQUE KEY `tournament_day_unique` (`tournament_id`,`day_number`),
  CONSTRAINT `tournament_days_tournament_fk` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`tournament_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_days`
--

LOCK TABLES `tournament_days` WRITE;
/*!40000 ALTER TABLE `tournament_days` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_days` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_groups`
--

DROP TABLE IF EXISTS `tournament_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tournament_groups` (
  `tournament_group_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int(10) unsigned NOT NULL,
  `tournament_category_id` int(10) unsigned DEFAULT NULL,
  `name` varchar(20) NOT NULL,
  PRIMARY KEY (`tournament_group_id`),
  KEY `tournament_id` (`tournament_id`),
  KEY `tournament_category_id` (`tournament_category_id`),
  CONSTRAINT `tournament_groups_category_fk` FOREIGN KEY (`tournament_category_id`) REFERENCES `tournament_categories` (`tournament_category_id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_groups_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`tournament_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_groups`
--

LOCK TABLES `tournament_groups` WRITE;
/*!40000 ALTER TABLE `tournament_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_registration_members`
--

DROP TABLE IF EXISTS `tournament_registration_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tournament_registration_members` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tournament_registration_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `member_roles` set('manager','coach','player','substitute') NOT NULL DEFAULT 'player',
  `is_starter` tinyint(1) NOT NULL DEFAULT 1,
  `is_required_for_checkin` tinyint(1) NOT NULL DEFAULT 1,
  `checkin_status` enum('not_checked_in','checked_in','waived') NOT NULL DEFAULT 'not_checked_in',
  `checkin_at` datetime DEFAULT NULL,
  `roster_status` enum('active','removed','replaced') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `checkin_waived_reason` varchar(500) DEFAULT NULL,
  `checkin_waived_by` int(10) unsigned DEFAULT NULL,
  `checkin_waived_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_registration_player` (`tournament_registration_id`,`player_id`),
  KEY `player_id` (`player_id`),
  KEY `checkin_pool` (`tournament_registration_id`,`is_starter`,`checkin_status`,`roster_status`),
  CONSTRAINT `registration_members_player_fk` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`) ON DELETE CASCADE,
  CONSTRAINT `registration_members_registration_fk` FOREIGN KEY (`tournament_registration_id`) REFERENCES `tournament_registrations` (`tournament_registration_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_registration_members`
--

LOCK TABLES `tournament_registration_members` WRITE;
/*!40000 ALTER TABLE `tournament_registration_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_registration_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_registrations`
--

DROP TABLE IF EXISTS `tournament_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tournament_registrations` (
  `tournament_registration_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int(10) unsigned NOT NULL,
  `tournament_category_id` int(10) unsigned DEFAULT NULL,
  `team_id` int(11) DEFAULT NULL,
  `player_id` int(10) unsigned DEFAULT NULL,
  `category` varchar(50) DEFAULT 'open',
  `seed` smallint(5) unsigned DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `participation_status` enum('registered','checkin_open','checkin_complete','checkin_incomplete','pending_admin_review','qualified_for_draw','withdrawn','disqualified') NOT NULL DEFAULT 'registered',
  `reviewed_by` int(10) unsigned DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `review_note` varchar(500) DEFAULT NULL,
  `roster_locked_at` datetime DEFAULT NULL,
  `qr_code_token` varchar(64) DEFAULT NULL,
  `checkin_status` enum('not_checked_in','checked_in') NOT NULL DEFAULT 'not_checked_in',
  `checkin_at` datetime DEFAULT NULL,
  `registered_at` datetime NOT NULL DEFAULT current_timestamp(),
  `seed_no` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`tournament_registration_id`),
  UNIQUE KEY `uq_team_per_category` (`tournament_category_id`,`team_id`),
  KEY `team_id` (`team_id`),
  KEY `idx_player_id` (`player_id`),
  KEY `tournament_category_id` (`tournament_category_id`),
  KEY `reviewed_by` (`reviewed_by`),
  KEY `draw_pool` (`tournament_category_id`,`status`,`participation_status`),
  KEY `tournament_registrations_ibfk_1` (`tournament_id`),
  CONSTRAINT `tournament_registrations_category_fk` FOREIGN KEY (`tournament_category_id`) REFERENCES `tournament_categories` (`tournament_category_id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_registrations_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournaments` (`tournament_id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_registrations_reviewed_by_fk` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL,
  CONSTRAINT `tr_player_fk` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=446 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_registrations`
--

LOCK TABLES `tournament_registrations` WRITE;
/*!40000 ALTER TABLE `tournament_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournaments`
--

DROP TABLE IF EXISTS `tournaments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tournaments` (
  `tournament_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `game_id` int(10) unsigned NOT NULL,
  `category` enum('male','female','mixed','open') NOT NULL DEFAULT 'open',
  `name` varchar(150) NOT NULL,
  `format` enum('single_elimination','double_elimination') NOT NULL,
  `gender_category` varchar(20) NOT NULL DEFAULT 'general',
  `best_of` tinyint(4) NOT NULL DEFAULT 1,
  `category_gender` enum('all','male','female') NOT NULL DEFAULT 'all',
  `status` enum('draft','registration_open','registration_closed','ongoing','completed','cancelled') NOT NULL DEFAULT 'draft',
  `venue_address` varchar(255) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `venue_lat_lng` varchar(50) DEFAULT NULL,
  `max_teams` smallint(5) unsigned NOT NULL,
  `prize_pool` varchar(255) DEFAULT NULL,
  `rules` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `group_count` tinyint(3) unsigned DEFAULT NULL,
  `teams_advance_per_group` tinyint(3) unsigned DEFAULT NULL,
  `registration_start` datetime DEFAULT NULL,
  `registration_end` datetime DEFAULT NULL,
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `created_by` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `checkin_open_at` datetime DEFAULT NULL,
  `checkin_close_at` datetime DEFAULT NULL,
  `roster_lock_at` datetime DEFAULT NULL,
  PRIMARY KEY (`tournament_id`),
  KEY `game_id` (`game_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `tournaments_ibfk_1` FOREIGN KEY (`game_id`) REFERENCES `games` (`game_id`) ON DELETE CASCADE,
  CONSTRAINT `tournaments_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournaments`
--

LOCK TABLES `tournaments` WRITE;
/*!40000 ALTER TABLE `tournaments` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournaments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(120) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('admin','athlete','guest') NOT NULL DEFAULT 'guest',
  `security_question` varchar(255) DEFAULT NULL,
  `security_answer_hash` varchar(255) DEFAULT NULL,
  `status` enum('active','suspended','disabled') NOT NULL DEFAULT 'active',
  `suspended_at` datetime DEFAULT NULL,
  `suspended_by` int(10) unsigned DEFAULT NULL,
  `suspension_reason` varchar(500) DEFAULT NULL,
  `reactivated_at` datetime DEFAULT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_athlete` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `suspended_by` (`suspended_by`),
  CONSTRAINT `users_suspended_by_fk` FOREIGN KEY (`suspended_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'esport_korattest'
--

--
-- Dumping routines for database 'esport_korattest'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-21 12:15:31
